<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Suite" parallel="tests">
    <test name="Navigation functionality">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Tests.ElementNavigationTests"/>
            <class name="Tests.CartInteractionTests"/>
        </classes>
    </test> <!-- Test -->
    <test name="User Registration">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Tests.UserRegistration"/>
        </classes>
    </test>
    <test name="Filtering">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Tests.SearchPageFilterTests"/>
        </classes>
    </test>
</suite> <!-- Suite -->